{% extends 'main/base.html' %}
{%load static%}


{% block content %}

{% if request.session.cart|length < 1 %}

        <!-- Empty Cart area start -->
        <div class="empty-cart-area pb-100px pt-100px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-heading">
                            <h2>Your Order</h2>
                        </div>
                        <div class="empty-text-contant text-center">
                            <i class="pe-7s-shopbag"></i>
                            <h3>There are no more orders placed</h3>
                            <a class="empty-cart-btn" href="{%url 'product'%}">
                                <i class="fa fa-arrow-left"> </i> Continue shopping
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Empty Cart area end -->



{%  else %}


{% load cart_tag %}
        <!-- Cart Area Start -->
        <div class="cart-main-area pt-100px pb-100px">
            <div class="container">
                <h3 class="cart-page-title">Your Order</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <form action="{% url 'thanku' %}" method="post">
                            {% csrf_token %}
                            <div class="table-content table-responsive cart-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th>Amount</th>
                                            <!--<th>Status>
                                            <th>Action</th>-->
                                        </tr>
                                    </thead>
                                    
                                    
                                    <tbody>
                                        {% for key,value in request.session.cart.items %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img class="img-responsive ml-15px" src="{{value.image}}" alt="" /></a>
                                            </td>
                                            <td class="product-name"><a href="#">{{value.name | truncatewords:3}}</a></td>
                                            <td class="product-price-cart"><span class="amount">{{value.price}}</span></td>
                                            <td class="cart_quantity">
                                                <div class="cart_quantity_button">
                                                    <a>{{value.quantity}}</a>
                                                </div>
                                            </td>
                                            <td class="product-subtotal">{{ value.price|multiply:value.quantity }}</td>
                                           <!-- <td class="product-remove">
                                               <a href="#"><i class="fa fa-pencil"></i></a>-->
                                                <!--<a href="{% url 'item_clear' key %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </td>-->
                                        </tr>
                                        {% endfor %}

                                        
                                    </tbody>
                                    
                                </table>
                            </div>
                            
               


                        <br>
                        <br>
                        <input type="hidden" class="form-control" name="selected_address" value={{address}}>
                        <input type="hidden" class="form-control" name="order_id" value={{order_id}}>
                        <input type="hidden" class="form-control" name="amount" value={{amount}}>
                        <input type="hidden" class="form-control" name="payment" value={{payment}}>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 ms-auto mb-lm-30px text-end">
                                {% if request.session.paid_amt_checkout == 0%}
                                <a href="{% url 'thanku' %}" class="float-end" style="display: inline-block; padding: 15px 25px; font-size: 18px; background-color: #007bff; color: light; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"><button  >Confirm Order</button></a>
                                {% else %}
                                <a class="float-end" style="display: inline-block; padding: 15px 25px; font-size: 18px; background-color: #007bff; color: light; text-decoration: none; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);"><button  id="rzp-button1">Confirm Payment</button></a>
                                {% endif %}
                                
                            </div>
                        </div>
                        
                    </form>



                    </div>
                    <br>
                    
                </div>
            </div>
            
            
        </div>

        <!-- Cart Area End -->

{% endif %}



{% endblock %}