{% extends 'main/base.html'%}

{% block content %}

        <!-- login area start -->
        <div class="login-register-area pt-100px pb-100px">

            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                       
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class="active" data-bs-toggle="tab" href="#lg1">
                                    <h4 style="text-align:center;">Forget Password</h4>
                                </a>
                            </div>
                            
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <input type="email" name="email" placeholder="Enter Your Email" />
                                                <!--
                                                <div class="button-box">
                                                    <div class="login-toggle-btn">

                                                        <a href="{% url 'forget_password' %}">Forgot Password?</a>
                                                    </div>
                                                -->
                                                    <button type="submit"><span>Submit</span></button>
                                                </div>
                                            </form>
                                            <br>
                                            <hr>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
        <!-- login area end -->

{% endblock%}